.myDiv {
    margin-bottom: 10px;
    font-size:20px;
    font-family : Arial,Arial,Arial,Arial ;
}

.myDiv2 {
    margin:auto;
    max-width: 35rem;
}

body {
    padding-top: 50px;
}

input[type=text] {
    padding: 8px 8px;
    margin: 4px 0;
    font-size:18px;
    width: 580px;
}

button {
    background-color: #6ba56c;
    color: white;
    padding: 10px 10px;
    margin-top: 4px;
    font-size:18px;
    width: 600px;
    border: none;
}

h1 {
    font-size:18px;
    font-weight: 100;
    color:rgb(0, 0, 0);
}
